.badge {
    min-width: 96px;
    padding: 4px 8px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.07px;
    border-radius: 20px;
    background-color: #92929d;
}

$status: (
    'completed': #a461d8,
    'ended': #fc5a5a,
    'active': #82c43c,
);

@each $name, $color in $status {
    .badge-#{$name} {
        background-color: $color;
    }
}
