%notification {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 480px;
    padding: 20px;
    font-family: Montserrat;
    color: #fafafb;
    font-style: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    background-color: #92929d;
    border-radius: 9px;
    margin: 0 auto;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        padding: 120px;
    }
}

.notification-primary {
    @extend %notification;
    background-color: #f07f2e;
}
.notification-success {
    @extend %notification;
    background-color: #82c43d;
}
.notification-info {
    @extend %notification;
    background-color: #4e75ff;
}

// .notification {
//     display: flex;
//     align-items: center;
//     gap: 20px;
//     width: 480px;
//     padding: 20px;
//     font-family: Montserrat;
//     color: #fafafb;
//     font-style: 16px;
//     line-height: 20px;
//     letter-spacing: 0.5px;
//     background-color: #92929d;
//     border-radius: 9px;
//     margin: 0 auto;
//     margin-bottom: 20px;
// }

// .notification-primary {
//     @extend .notification;
//     background-color: #f07f2e;
// }
// .notification-success {
//     @extend .notification;
//     background-color: #82c43d;
// }
// .notification-info {
//     @extend .notification;
//     background-color: #4e75ff;
// }

// .notification {
//     display: flex;
//     align-items: center;
//     gap: 20px;
//     width: 480px;
//     padding: 20px;
//     font-family: Montserrat;
//     color: #fafafb;
//     font-style: 16px;
//     line-height: 20px;
//     letter-spacing: 0.5px;
//     background-color: #92929d;
//     border-radius: 9px;
//     margin: 0 auto;
//     margin-bottom: 20px;
// }

// .notification-primary {
//     background-color: #f07f2e;
// }
// .notification-success {
//     background-color: #82c43d;
// }
// .notification-info {
//     background-color: #4e75ff;
// }
