$color-primary: teal;

body {
    $color-primary: lightblue;
    $color-secondary: white !global;
    background-color: $color-primary;
}

p {
    background-color: $color-primary;
    color: $color-secondary;
}
