.notification-info, .notification-success, .notification-primary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 480px;
  padding: 20px;
  font-family: Montserrat;
  color: #fafafb;
  font-style: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  background-color: #92929d;
  border-radius: 9px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.notification-primary {
  background-color: #f07f2e;
}

.notification-success {
  background-color: #82c43d;
}

.notification-info {
  background-color: #4e75ff;
}

@media screen and (min-width: 768px) {
  .notification-info, .notification-success, .notification-primary {
    padding: 120px;
  }
}