.badge {
  min-width: 96px;
  padding: 4px 8px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.07px;
  border-radius: 20px;
  background-color: #92929d;
}

.badge-completed {
  background-color: #a461d8;
}

.badge-ended {
  background-color: #fc5a5a;
}

.badge-active {
  background-color: #82c43c;
}